@use '../../scss/' as *;


.chart {
  flex: 4;
  padding: 15px;
  border-radius: .3rem;
  color: gray;
  -webkit-box-shadow: -2px 1px 7px 0px rgba(0, 0, 0, 0.22);
  box-shadow: -2px 1px 7px 0px rgba(0, 0, 0, 0.22);


  .title {
    margin: 10px;
  }

  .chartGridColor {
    stroke: rgb(224, 223, 223);
  }
}