@use '../../scss/variables';
@use '../../scss/mixins';
// =======VARIABLES========

.new {
  @include mixins.container;

  .newContainer {
    flex: 6;

    //------TOP---------
    .top,
    .bottom {
      padding: 20px;
      margin: 20px;
      display: flex;
      @include mixins.box-shadow;


      .title {
        color: variables.$gray;
        font-size: 1.5rem;
      }

      //------LEFT SIDE---------
      .left {
        flex: 1;
        text-align: center;

        .leftImg {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      //------RIGHT SIDE---------
      .right {
        flex: 2;

        form {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          gap: 30px;

          .formInput {
            width: 40%;


            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              outline: none;
              border: none;
              border-bottom: .1rem solid variables.$secondary;

            }
          }

          button {
            width: 150px;
            padding: 10px;
            border: none;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
            background-color: variables.$primary;

            font-size: 14px;

          }
        }
      }
    }
  }
}