// =======VARIABLES========
$primary: #0ef;
$green: #20c997;
$secondary: #323946;
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$gray: #ccc;
$bg: #1f242d;
$container-width: 1200px;
$dark: #1f242d;
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 80%);
$bg: hsl(219, 18%, 15%);
$container-width: 1200px;
$red: rgb(207, 78, 78);
$borderRadius: .3rem;